table{
    border-collapse: collapse;
    border: 1px solid;
}
table td{
    border: 1px solid;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
table th{
    border: 1px solid;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

div label.only-show-on-hover {
    visibility: hidden;
}
div:hover label.only-show-on-hover  {
    visibility: visible;
}

.navbar {
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
}
  .navbar > * {
    margin-right: 9rem;
  }
  
  .navbar > *:last-child {
    margin-right: 0;
  }

#location {
    position:relative;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height:50px;
    width:100px;
}
.column{
    display:inline-block;
}
#stats{
    position:relative;
    height:50px;
    width:100px;
    align-items: center;
    justify-content: center;

}
label{
    display:block;
    height:50px;
    width:15rem;
    background-color:  #E5E5E5;
    border-block: 1em;
}
#date {
    position:relative;
    height:50px;
    width:100px;
    align-items: center;
    justify-content: center;

}
button {
    width: 15rem;
    height:3rem;
    border:none;
    background-color:  #E5E5E5;
}
form {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}
.center{
    margin-left: auto;
    margin-right:auto;
}
app-fetch-api {
    position:relative;
}
