<!--Location (checkbox): Federal, Provincial, Regional -->
<script src="../../assets/table.js"></script>
<form [formGroup]="form" id="form">
    <!--(change) = onChange(form.value)-->
    <nav class="navbar">
        <div class="column" id="location">
            <button (click)="showLocation()" id="locateButton">Location</button>
            <div class="dropDown">
                <label *ngIf="location"><input type="checkbox" value="Federal" formControlName="federal"
                        (change)="columnChange()">Federal</label>
                <label *ngIf="location"><input type="checkbox" value="Provincial" formControlName="provincial"
                        (change)="columnChange()">Provincial</label>
                <label *ngIf="location" id="endLocate"><input type="checkbox" formControlName="regional"
                        (change)="columnChange()">Regional</label>
            </div>

        </div>
        <!--Stat (checkbox): New Cases, Cumulative Cases, New Deaths, Cumulative Deaths, New Hospitalized, Cumulative Hospitalized-->
        <div class="column" id="stats">
            <button (click)="showStats()" id="statsButton">Stats</button>
            <div class="dropDown">
                <label *ngIf="stats"><input type="checkbox" id="New Cases" formControlName="newCases"
                        (change)="columnChange()">New Cases</label>
                <label *ngIf="stats"><input type="checkbox" id="Cumulative Cases"
                        formControlName="cumulativeCases" (change)="columnChange()">Cumulative Cases</label>
                <label *ngIf="stats"><input type="checkbox" id="New Deaths" formControlName="newDeaths"
                        (change)="columnChange()">New Deaths</label>
                <label *ngIf="stats"><input type="checkbox" id="Cumulative Deaths"
                        formControlName="cumulativeDeaths" (change)="columnChange()">Cumulative Deaths</label>
                <label *ngIf="stats"><input type="checkbox" id="New Hospitalizations"
                        formControlName="newHospitalizations" (change)="columnChange()">New Hospitalizations</label>
                <label *ngIf="stats"><input type="checkbox"
                        id="Cumulative Hospitalizations" formControlName="cumulativeHospitalizations"
                        (change)="columnChange()">Cumulative
                    Hospitalizations</label>
            </div>

        </div>
        <!--Time (text): Start date, End date  -->
        <div class="column" id="date">
            <button (click)="showDate()" id="dateButton">Date</button>
            <div class="dateDropDown">
                <label *ngIf="date">Start date<input id="textInput" type="text" formControlName="startDate" (change)="columnChange()"
                        placeholder="YYYY-MM-DD" [ngStyle] = "startErr && {'border': 'red', 'border-style':'groove'} || null" [dropSpecialCharacters]="false" mask="0000-00-00"></label>
                <label *ngIf="date" class="end">End date<input id="textInput" type="text" formControlName="endDate" (change)="columnChange()"
                        placeholder="YYYY-MM-DD" [ngStyle] = "endErr && {'border': 'red', 'border-style':'groove'} || null" [dropSpecialCharacters]="false" mask="0000-00-00"></label>
                <span [ngModel]="error" *ngIf="hasError" class="error">{{ error }}</span>
            </div>
        </div>
        <div class="column" id="fetch">
            <app-fetch-api></app-fetch-api>
        </div>
    </nav>
</form>
<br><br>
<div class="container">
    <table class="center">
        <tr><td colspan="3"><span id="time-period">Showing Period: {{ startDate }} to {{ endDate }}</span></td></tr>
        <col *ngIf="federal" />
        <col *ngIf="provincial" />
        <col *ngIf="regional" />
        <col *ngIf="newCases" />
        <col *ngIf="cumulativeCases" />
        <col *ngIf="newDeaths" />
        <col *ngIf="cumulativeDeaths" />
        <col *ngIf="newHospitalizations" />
        <col *ngIf="cumulativeHospitalizations" />
        <tr>
            <th *ngIf="federal">Federal</th>
            <th *ngIf="provincial">Province</th>
            <th *ngIf="regional">Region</th>
            <th *ngIf="newCases">New Cases </th>
            <th *ngIf="cumulativeCases">Cumulative Cases</th>
            <th *ngIf="newDeaths">New Deaths</th>
            <th *ngIf="cumulativeDeaths">Cumulative Deaths</th>
            <th *ngIf="newHospitalizations">New Hospitalizations</th>
            <th *ngIf="cumulativeHospitalizations">Cumulative Hospitalizations</th>

        </tr>
        <tr *ngFor="let data of d">
            <td *ngIf="federal"> {{ data.country }}</td>
            <td *ngIf="provincial">{{ data.province }}</td>
            <td *ngIf="regional"> {{ data.health_region }}</td>
            <td *ngIf="newCases">{{ data.cases }}</td>
            <td *ngIf="cumulativeCases">{{ data.allCases }}</td>
            <td *ngIf="newDeaths">{{ data.deaths }}</td>
            <td *ngIf="cumulativeDeaths">{{ data.allDeaths }}</td>
            <td *ngIf="newHospitalizations">{{ data.hospitalized }}</td>
            <td *ngIf="cumulativeHospitalizations">{{ data.allHospitalized }}</td>
        </tr>
    </table>
</div>