<!--Location (checkbox): Federal, Provincial, Regional -->
<form [formGroup]="form" id="form">
    <!--(change) = onChange(form.value)-->
    <nav class ="navbar">
        <div id="location" class="column">
            <button (click)="showLocation()">Location</button>
            <label *ngIf="location"><input type="checkbox" value="Federal" formControlName="federal"
                    (change)="columnChange()">Federal</label>
            <label *ngIf="location"><input type="checkbox" value="Provincial" formControlName="provincial"
                    (change)="columnChange()">Provincial</label>
            <label *ngIf="location"><input type="checkbox" formControlName="regional"
                    (change)="columnChange()">Regional</label>
                    
        </div>
        <!--Stat (checkbox): New Cases, Cumulative Cases, New Deaths, Cumulative Deaths, New Recovered, Cumulative Recovered-->
        <div class = "column" id="stats">
            <button (click)="showStats()">Stats</button>
            <label for="New Cases" *ngIf="stats"><input type="checkbox" id="New Cases" formControlName="newCases"
                    (change)="columnChange()">New Cases</label>
            <label for="Cumulative Cases" *ngIf="stats"><input type="checkbox" id="Cumulative Cases" formControlName="cumulativeCases"
                    (change)="columnChange()">Cumulative Cases</label>
            <label for="New Deaths" *ngIf="stats"><input type="checkbox" id="New Deaths" formControlName="newDeaths"
                    (change)="columnChange()">New Deaths</label>
            <label for="Cumulative Deaths" *ngIf="stats"><input type="checkbox" id="Cumulative Deaths" formControlName="cumulativeDeaths"
                    (change)="columnChange()">Cumulative Deaths</label>
            <label for="New Hospitalizations" *ngIf="stats"><input type="checkbox" id="New Hospitalizations"
                    formControlName="newHospitalizations" (change)="columnChange()">New Hospitalizations</label>
            <label for="Cumulative Hospitalizations" *ngIf="stats"><input type="checkbox" id="Cumulative Hospitalizations"
                    formControlName="cumulativeHospitalizations" (change)="columnChange()">Cumulative
                Hospitalizations</label>
        </div>
        <!--Time (text): Start date, End date  -->
        <div class="column" id="date">
            <button (click)="showDate()">Date</button>
            <label *ngIf="date">Start date<input type="text" [(ngModel)]="startDate" formControlName="startDate"
                placeholder="YYYY-MM-DD"></label>
            <label *ngIf="date">End date<input type="text" [(ngModel)]="endDate" formControlName="endDate"
                placeholder="YYYY-MM-DD"></label>
        </div>
        <div class="column" id="fetch">
            <app-fetch-api></app-fetch-api>
        </div>
    </nav>
</form>
<br><br>
<div>
    <table class="center">
        <tr>
            <th *ngIf="federal">Federal</th>
            <th *ngIf="provincial">Province</th>
            <th *ngIf="regional">Region</th>
            <th *ngIf="newCases">New Cases </th>
            <th *ngIf="cumulativeCases">Cumulative Cases</th>
            <th *ngIf="newDeaths">New Deaths</th>
            <th *ngIf="cumulativeDeaths">Cumulative Deaths</th>
            <th *ngIf="newHospitalizations">New Hospitalizations</th>
            <th *ngIf="cumulativeHospitalizations">Cumulative Hospitalizations</th>

        </tr>
        <tr *ngFor="let data of d">
            <td *ngIf="federal">Canada</td>
            <td *ngIf="provincial">{{ data.province }}</td>
            <td *ngIf="regional"> {{ data.health_region }}</td>
            <td *ngIf="newCases">{{ data.cases }}</td>
            <td *ngIf="cumulativeCases">{{ data.allCases }}</td>
            <td *ngIf="newDeaths">{{ data.deaths }}</td>
            <td *ngIf="cumulativeDeaths">{{ data.allDeaths }}</td>
            <td *ngIf="newHospitalizations">{{ data.hospitalized }}</td>
            <td *ngIf="cumulativeHospitalizations">{{ data.allHospitalized }}</td>
        </tr>
    </table>
</div>