span {
    display:block;
    padding-left: 1rem;
    margin-top:1rem;
    font-size: large;
}
.multi {
    color: white;
    margin-top:4rem;
    margin-right:3.5rem;
    display:inline-block;
    background-color: rgba(3, 3, 3, 0.808);
    height:39rem;

}
.single{
    color: white;
    margin-top:4rem;
    display:inline-block;
    background-color: rgba(3, 3, 3, 0.808);
    height:39rem;
}
::ng-deep .ngx-charts { 
    display:inline-block;
    height: 37rem;
    margin-top:0;
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom:4rem;
}
