<div class="container">
    <div class="multi">
        <span>Provincial</span>
        <ngx-charts-bar-vertical-2d [view]="[700,600]" [scheme]="colorScheme" [results]="multi" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            style="fill: white;"></ngx-charts-bar-vertical-2d>
    </div>
    <div class="single">
        <span>Federal</span>
        <ngx-charts-pie-chart [view]="[700,600]" [scheme]="colorScheme" [results]="single"
  [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" style="fill: white;"></ngx-charts-pie-chart>
    </div>
</div>