button {
    width: 15rem;
    height:2.5rem;
    border:none;
    border-radius: 6px;
    /* background-color: #303031; */
    background-color: transparent;
    font-size:larger;
    font-weight: bold;
    color:rgba(3, 3, 3);
}
button:hover{
    color:rgba(78, 78, 78, 0.808);

}
